%div
  - @questions.each do |question|
    = simple_format(question.content)
    %span
      %a{ href: "/users/#{question.user_id}" }
        %span
          投稿者
          = question.user.nickname
    %br
    = link_to "答える", new_question_answer_path(question)
    %br
    - question.answers.each do |answer|
      = simple_format(answer.content)
      %span
      %a{ href: "/users/#{answer.user_id}" }
        %span
          投稿者
          = answer.user.nickname