%div.question-list
  - @questions.each do |question|
    %div.question-block
      %div.question
        %h4= question.title
        %p= question.content
        %div
          投稿時間
          = question.created_at.strftime('%Y年%m月%d日 %H:%M')
        %div
          投稿者
          = question.user.nickname
      %div
        =button_to "回答数: #{question.answers.size}", question_path(question), method: :get
      %div
        = button_to "答える", new_question_answer_path(question), method: :get