%div.question-list
  - @questions.each do |question|
    %div.question-block
      %div.question
        %h4= question.title
        %p= question.content
        %span
          投稿者
          = question.user.nickname
      %div
        %a{ :href => question_path(question) }
          回答数: #{question.answers.size}
      %div
        = link_to "答える", new_question_answer_path(question)