%div#map
:javascript
  var map;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 35.0258, lng: 135.761},
      zoom: 14
    });
    - @questions.each do |question|
      - question_lat = question.try(:lat)
      - question_lng = question.try(:lng)
      var marker = new google.maps.Marker({
        position: {lat: question_lat , lng: question_lng },
        map: map
      });
  }
%script{:async => "", :defer => "defer", :src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyADmBdh0GEa0VvbPYq0DD-CxCX6V8wzJmI&callback=initMap"}

%div.question-list
  - @questions.each do |question|
    %div.question-block
      %div.question-content1
        %h4= question.title
        %p= question.content.truncate(20)
        %div.create-time
          = question.created_at.strftime('%Y年%m月%d日 %H:%M')
          投稿者
          = question.user.nickname
        %div.count-display
          %a.body-button{ :href => question_path(question) } 回答数：#{question.answers.size}
        / %div.action-button
        /   - if question.user_id == current_user.try(:id)
        /     %a.body-button{ :href => edit_question_path(question) } 編集する
        /   - else
        /     %a.body-button{ :href => new_question_answer_path(question) } 答える