%h3 質問
%div.question-block
  %div.question-content1
    = @question.title
    %p
      = @question.content
    %div.create-time
      = @question.created_at.strftime('%Y年%m月%d日 %H:%M')
    %div.create-person
      投稿者
      = @question.user.nickname
    %div
      - if @question.user_id == current_user.try(:id)
        %div.action-button
          %a{ :href => edit_question_path(@question) } 編集する
          %a{ :href => question_path(@question), data: { method: :delete, confirm: "削除してよろしいですか？" } } 削除する
      - else
        %a.body-button{ :href => new_question_answer_path(@question) } 答える

%h3 回答

- @answers.each do |answer|
  %div.answer-block
    %div.question-content1
      %p= answer.content
      %div.create-time
        投稿時間
        = answer.created_at.strftime('%Y年%m月%d日 %H:%M')
      %div.create-person
        回答者
        = answer.user.nickname
      - if answer.user_id == current_user.try(:id)
        %div.action-button
          %a{ :href => edit_question_answer_path(@question, answer) } 編集する
          %a{ :href => question_answer_path(@question, answer), data: { method: :delete, confirm: "削除してよろしいですか？" } } 削除する