%div.question-block
  %div.question
    %h4
      = @question.title
    %p
      = @question.content
    %span
      投稿者
      = @question.user.nickname
  %div
    = link_to "答える", new_question_answer_path(@question)
  %br
  - @question.answers.each do |answer|
    %div.answer
      %p= answer.content
      %span
        回答者
        = answer.user.nickname