%div.question
  %h4= @question.title
  %p= @question.content
  %div.create-time
    = @question.created_at.strftime('%Y年%m月%d日 %H:%M')
    投稿者
    = @question.user.nickname
%br
%div
  = form_for [@question, @answer] do |f|
    %h2 回答フォーム
    %table.form-table
      %tr
        %th= f.label :content, "回答内容"
        %td= f.text_area :content, :size => "50x6"
    = f.submit "回答"