%div
  %div.question
    %h4= @question.title
    %p= @question.content
    %span
      投稿者
      = @question.user.nickname
  %div
    = form_for [@question, @answer] do |f|
      = f.label :content, "回答内容"
      = f.text_area :content

      = f.submit "Send"