!!!
%html
  %head
    %title Knocal
    %meta{ name: 'viewport', content: 'initial-scale=1.0, user-scalable=no' }
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    / - if controller.controller_name == 'questions'
    /   = javascript_include_tag "//maps.google.com/maps/api/js?key=#{ENV['GOOGLE_MAP_API_KEY']}&sensor=false", :type => "text/javascript"
    = csrf_meta_tags

  %body
    = render partial: 'common/header'

    %div.container
      - if flash
        - flash.each do |key, value|
          = content_tag(:div, value, class: "#{key}")
      %div.container-main
      = yield
      %footer.text-center
        %p (C) Knocal 2017